/* ==========================================================
   SIENA BEE
   STYLE
========================================================== */

/* ========= RESET ========= */

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--text);

font-family:var(--font-body);

font-size:var(--body);

line-height:1.9;

-webkit-font-smoothing:antialiased;

text-rendering:optimizeLegibility;

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

button{

cursor:pointer;

font-family:inherit;

}